<h1>関連づけ一覧</h1>

<% render @post_category %>

<%= link_to 'カテゴリの作成', categories_path, style:"margin-left:10px;" %>
<%= link_to "カテゴリー一覧へ", '/categories', class: 'center', style: 'margin: 20px 0px;' %>
