<h1>カテゴリ作成</h1>

<%= render 'form' %>

<%= link_to "カテゴリー一覧へ", '/categories', class: 'center', style: 'margin: 20px 0px;' %>
<%= link_to "カテゴリー関連付け", new_post_category_path, class: 'center', style: 'margin: 20px 0px;' %>
<%= link_to '関連づけ一覧へ', post_categories_path, style:"margin-left:10px;" %>
